doctype html

block variables
  - var title = 'Hires agency'

html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{title}

    // build:css styles/slick.css
    link(rel='stylesheet', href='bower_components/slick-carousel/slick/slick.css')
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body(class={'home-page': homePage, 'inner-page': innerPage})
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    include ../common/_header


    block content


    include ../common/_footer


  block scripts

  // build:js scripts/jquery.js
  // bower:js
  script(src='bower_components/jquery/dist/jquery.js')
  // endbower
  // endbuild

  // build:js scripts/slick.js
  // bower:js
  script(src='bower_components/slick-carousel/slick/slick.js')
  // endbower
  // endbuild

  // build:js scripts/jquery.selectric.js
  // bower:js
  script(src='scripts/jquery.selectric.js')
  // endbower
  // endbuild

  // build:js scripts/main.js
  script(src='scripts/main.js')
  // endbuild