* {
  outline: 0 !important;
}

html {
  font-size: 13px;
  @media (min-width: 992px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 15px;
  }
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

strong {
  font-weight: 700;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: $font-montserrat;
  font-size: 34px;
  font-weight: 900;
  line-height: 1;
  @media (min-width: 768px) {
    font-size: 45px;
  }
  @media (min-width: 992px) {
    font-size: 53px;
  }
}

h2 {
  font-family: $font-montserrat;
  font-size: 23px;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 1.5em;
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: 25px;
  }
}

h3 {
  font-family: $font-montserrat;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 0.5em;
  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.form {
  max-width: 355px;
  width: 100%;
  flex: none;
  &__field {
    margin-bottom: 20px;
    input {
      width: 100%;
      font-weight: 500;
      font-size: 13px;
      height: 50px;
      padding: 10px 25px;
      border-radius: 7px;
      border: 0;
      @media (min-width: 768px) {
        height: 55px;
        padding: 10px 40px;
      }
      @include placeholder {
        color: #bdbdbd;
      }
    }
  }
  &__button {
    margin-top: 30px;
    button {
      width: 100%;
      font-weight: 700;
      font-size: 16px;
      color: #9d9d9d;
      height: 50px;
      background-color: $pink2-color;
      border: 0;
      border-radius: 7px;
      transition: .2s;
      cursor: pointer;
      box-shadow: 10px 0 30px 5px rgba(#7d7d7d, 0.35);
      @media (min-width: 768px) {
        height: 55px;
        font-size: 19px;
      }
      &:hover {
        background-color: darken($pink2-color, 5%);
      }
    }
  }
}

.main {
  min-height: 500px;
  overflow: hidden;
  &__sidebar {
    position: relative;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.sidebar {

  &.-active {
    .sidebar__wrap {
      left: 0;
    }
  }


  &__wrap {
    @media (max-width: 767px) {
      position: fixed;
      left: -100%;
      top: 0;
      transition: left .3s ease-in-out;
      z-index: 999;
      box-shadow: 0 5px 30px rgba($black-color, .3);
      background-color: #fff;
      padding: 70px 30px 20px;
      height: 100%;
      min-width: 200px;
    }
  }
  &__open {
    position: relative;
    padding-right: 20px;
    font-size: 14px;
    color: $gray-color;
    z-index: 200;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    @media (min-width: 768px) {
      display: none !important;
    }
    &:hover, &:focus {
      text-decoration: none;
    }
    &_text {
      margin-right: 10px;
    }
    &_btn {
      margin-right: 10px;
      display: inline-block;
      width: 20px;
      height: 12px;
      cursor: pointer;
      opacity: .9;
      position: relative;
      &:before, &:after {
        content: '';
      }
      span, &:before, &:after {
        display: block;
        width: 100%;
        height: 1px;
        background: $black-color;
        border-radius: 2px;
        position: absolute;
        left: 0;
        transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s, width 0.25s ease-in-out;
        transform-origin: center;
      }
      &:before {
        top: 0;
      }
      span {
        top: 6px;
      }
      &:after {
        top: 12px;
      }
      &.-active {
        z-index: 9999;
        span, &:before, &:after {
          transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out, width 0.25s ease-in-out;
          background-color: $black-color !important;
        }
        &:before {
          top: 6px;
          transform: rotate(135deg);
          width: 100%;
        }
        span {
          opacity: 0;
          transform: rotate(135deg);
        }
        &:after {
          top: 6px;
          transform: rotate(225deg);
        }
      }
    }
  }
  &__close {
    @media (min-width: 768px) {
      display: none;
    }
    display: block;
    width: 20px;
    height: 18px;
    cursor: pointer;
    opacity: .9;
    position: absolute;
    left: 30px;
    top: 20px;
    @media (min-width: 992px) {
      //display: none;
    }
    &:before, &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: $gray-color;
      border-radius: 2px;
      position: absolute;
      left: 0;
    }
    &:before {
      top: 6px;
      transform: rotate(135deg);
      width: 100%;
    }
    &:after {
      top: 6px;
      transform: rotate(225deg);
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  &__item {
    margin-bottom: 15px;

    &.-account {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/1-gray.png);
        }
      }
      &.-active {
        .sidebar__link {
          &:before {
            background-image: url(../images/sidebar/1-pink.png);
          }
        }
      }
    }
    &.-news {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/2-gray.png);
        }
      }
      &.-active .sidebar__link:before {
        background-image: url(../images/sidebar/2-pink.png);
      }
    }
    &.-messanges {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/3-gray.png);
        }
      }
      &.-active .sidebar__link:before {
        background-image: url(../images/sidebar/3-pink.png);
      }
    }
    &.-friends {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/4-gray.png);
        }
      }
      &.-active .sidebar__link:before {
        background-image: url(../images/sidebar/4-pink.png);
      }
    }
    &.-subscribes {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/5-gray.png);
        }
      }
      &.-active .sidebar__link:before {
        background-image: url(../images/sidebar/5-pink.png);
      }
    }
    &.-favorites {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/6-gray.png);
        }
      }
      &.-active .sidebar__link:before {
        background-image: url(../images/sidebar/6-pink.png);
      }
    }
    &.-lightbox {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/7-gray.png);
        }
      }
      &.-active .sidebar__link:before {
        background-image: url(../images/sidebar/7-pink.png);
      }
    }
    &.-settings {

      .sidebar__link {

        &:before {
          background-image: url(../images/sidebar/8-gray.png);
        }
      }
      &.-active .sidebar__link:before {
        background-image: url(../images/sidebar/8-pink.png);
      }
    }
    &:hover {
      .sidebar__link:before {
        transform: scale(1.2);
      }
    }
  }
  &__link {
    font-size: 13px;
    color: #242424;
    padding-left: 26px;
    display: block;
    position: relative;
    &:hover {
      text-decoration: none;
    }
    &:before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
      background-repeat: no-repeat;
      background-size: 100%;
      transition: .2s ease-in-out;
    }
  }
}




















