$icon-font-path: '../fonts/';

$font-gilroy: 'Gilroy', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-montserrat: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-sans-serif:  $font-gilroy;

$line-height-base: 1.6;


$gray-color: #707070;
$black-color: #242424;
$pink-color: #fda2ba;
$pink2-color: #ffd6e1;

$link-color: $pink-color;
$text-color: $gray-color;
$body-color: $text-color;

$cubic-bezier: cubic-bezier(0.28, 0, 0.18, 1);