.footer {
  background-color: #feece4;
  padding: 40px 0 15px;
  @media (min-width: 768px) {
    padding: 53px 0 23px;
  }
  &__wrap {

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
      margin:  0 auto;
    }
  }
  &__logo {
    margin-bottom: 10px;
    a {
      display: inline-block;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__info {
    padding-left: 0;
    margin: 0;
    list-style: none;
    @media (max-width: 767px) {
      margin-bottom: 30px;
      text-align: center;
    }
  }
  &__address, &__tel, &__fb, &__inst {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 22px;
    margin-bottom: 5px;
    color: $gray-color;
    font-size: 12px;
  }
  &__address {
    background-size: 15px auto;
    &:hover {
      text-decoration: none;
    }
  }
  &__tel {
    background-size: 12px auto;
    &:hover {
      text-decoration: none;
    }
  }
  &__fb {
    background-size: 13px auto;
  }
  &__inst {
    background-size: 13px auto;
  }
  &__menu {
    text-align: center;
    line-height: 1.2;
    &_heading {
      font-family: $font-montserrat;
      font-weight: 900;
      font-size: 17px;
      margin-bottom: 20px;
    }
    &_wrap {
      display: flex;
      justify-content: space-between;
    }
    &_column {
      padding: 0 5px;
      @media (min-width: 768px) {
        padding: 0 25px;
      }
    }
    &_title {
      font-weight: 700;
      font-size: 11px;
      margin-bottom: 10px;
    }
    &_list {
      padding-left: 0;
      margin: 0;
      list-style: none;
    }
    &_link {
      font-size: 12px;
      color: $gray-color;
    }
  }
  &__copyright {
    font-size: 11px;
    margin-top: 40px;
    text-align: right;
  }
}