body {

  &.home-page {

    .header {
      background-color: transparent;
      @media (min-width: 768px) {
        padding: 20px 0;
        margin-top: 40px;
      }
      margin-top: 20px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 999;

      .header__tel {
        display: block;
      }
      .header__hidden {
        display: none;
      }
    }
  }
  &.inner-page {

    .header {
      box-shadow: 0 5px 10px rgba($black-color, .1);
    }
    .main {
      padding: 45px 0 0;
    }
  }
}

.header {
  padding: 10px 0;
  background-color: #feece4;
  @media (min-width: 768px) {
    padding: 20px 0;
  }
  .header__tel {
    @media (min-width: 992px) {
      display: none;
    }
  }
  .header__hidden {
    display: flex;
  }
  &.-hide {
    opacity: 0;
    visibility: hidden;
  }
  &.-fixed {
    background-color: #feece4 !important;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    margin-top: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: opacity .3s ease, visibility .3s ease;
    @media(max-width: 767px) {
      display: none!important;
    }
    .header__toggle {
      display: none !important;
    }
    .header__menu {
      display: none !important;
    }
    .header__tel {
      display: none !important;
    }
    .header__hidden {
      display: flex !important;
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 25px;
      justify-content: space-between;
    }
  }
  &__logo {
    margin-right: 25px;
    @media (min-width: 992px) {
      margin-right: 40px;
    }
    @media (min-width: 1290px) {
      margin-right: 80px;
    }
    &_link {
      display: block;
      max-width: 60px;
      @media (min-width: 768px) {
        max-width: 80px;
      }
      @media (min-width: 992px) {
        max-width: 105px;
      }
    }
  }
  &__tel {
    &_num {
      white-space: nowrap;
      font-size: 16px;
      color: #242424;
      @media (min-width: 768px) {
        font-size: 20px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__hidden {
    display: none;
    align-items: center;
    @media (max-width: 991px) {
      display: none !important;
    }
    .search {
      width: 100%;
      margin-right: 40px;
      @media (min-width: 1290px) {
        width: 420px;
        margin-right: 80px;
      }
    }
  }
  .search__btn {
    background-color: #fda2ba;
  }
  &__right {
    display: flex;
    align-items: center;
    position: relative;
    &.-active {
      @media (min-width: 768px) {
        .header__menu_dropdown {
          opacity: 1;
          visibility: visible;
          margin-top: 15px;
        }
      }
      @media (max-width: 767px) {
        .header__right_wrap {
          opacity: 1;
          visibility: visible;
          margin-top: 15px;
        }
      }
    }
    &_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      @media (max-width: 767px) {
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        box-shadow: 5px 5px 30px rgba(#7d7d7d, 0.35);
        padding: 15px 0;
        border-radius: 10px;
        background-color: #fdf0f4;
        min-width: 290px;
      }
    }
  }
  &__lang {
    margin-right: 25px;
  }
  &__login {
    margin-right: 25px;
    &_link {
      text-decoration: none;
      color: $black-color;
      transition: .2s;
      &:not(:last-child) {
        margin-right: 25px;
      }
      &:hover {
        color: $pink-color;
        text-decoration: none;
      }
    }
  }
  &__menu {
    @media (max-width: 767px){
      width: 100%;
      margin-top: 15px;
    }
    &_dropdown {

      @media (min-width: 768px) {
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        box-shadow: 5px 5px 30px rgba(#7d7d7d, 0.35);
        padding: 15px 0;
        border-radius: 10px;
        background-color: #fdf0f4;
      }
    }

    .menu {
      list-style: none;
      padding-left: 0;
      margin: 0;
      text-align: right;
      a {
        color: $gray-color;
        display: block;
        line-height: 2;
        padding: 0 20px;
        transition: .2s;
        white-space: nowrap;
        &:hover {
          background-color: darken(#fdf0f4, 3%);
          text-decoration: none;
        }
      }
    }
  }
  &__toggle {
    border: 0;
    background: none;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 18px;
    cursor: pointer;
    opacity: .9;
    position: relative;
    @media (min-width: 992px) {
      //display: none;
    }
    &:before, &:after {
      content: '';
    }
    span, &:before, &:after {
      display: block;
      width: 100%;
      height: 2px;
      background: $black-color;
      border-radius: 2px;
      position: absolute;
      left: 0;
      transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s, width 0.25s ease-in-out;
      transform-origin: center;
    }
    &:before {
      top: 0;
    }
    span {
      top: 8px;
    }
    &:after {
      top: 16px;
    }
    &.-active {
      z-index: 9999;
      span, &:before, &:after {
        transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out, width 0.25s ease-in-out;
        background-color: $black-color !important;
      }
      &:before {
        top: 6px;
        transform: rotate(135deg);
        width: 100%;
      }
      span {
        opacity: 0;
        transform: rotate(135deg);
      }
      &:after {
        top: 6px;
        transform: rotate(225deg);
      }
    }
  }
  &__nav {

    &_link {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      display: inline-block;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: .2s ease-in-out;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

.lang {
  &__link {
    color: $black-color;
    text-decoration: none;
    transition: .1s;
    &:not(:last-child) {

      &:after {
        content: 'I';
        margin: 0 7px;
        font-weight: 400;
        color: $black-color;
      }
    }
    &:hover {
      font-weight: 700;
      text-decoration: none;
    }
    &.-active {
      font-weight: 700;
      cursor: default;
      &:hover {
        color: $black-color;
      }
    }
  }
}
