.account {
  padding-bottom: 45px;
  @media (min-width: 768px) {
    padding-bottom: 100px;
  }
  &__photo {
    width: 220px;
    height: 330px;
    flex: none;
    box-shadow: 8px 8px 30px 2px rgba(#7d7b7b, .3);
    @media (min-width: 992px) {
      margin-right: 20px;
    }
    @media (min-width: 1290px) {
      margin-right: 60px;
    }
    @media (max-width: 991px) {
      margin: 0 auto 15px;
    }
    &_edit {
      display: block;
      position: relative;
      span {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: $black-color;
        background-color: rgba(#ccc, .6);
        padding: 4px 0;
        transition: .2s ease-in-out;
      }
      &:hover span {
        background-color: rgba(#ccc, .9);
      }
    }
  }
  &__wrap {
    position: relative;
    @media (min-width: 992px) {
      display: flex;
    }
  }
  &__info {
    position: relative;
    width: 100%;
    padding-top: 25px;
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &__header {
    width: 100%;
    margin-bottom: 35px;
    @media (min-width: 992px) {
      position: relative;
      margin-bottom: 45px;
    }
  }
  &__condition {
    position: absolute;
    top: 0;
    font-size: 13px;
    padding: 3px 9px;
    background-color: #c7fac3;
    border-radius: 5px;
    @media (min-width: 992px) {
      right: 0;
    }
    @media (max-width: 991px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__name {
    font-family: $font-montserrat;
    font-weight: 900;
    font-size: 21px;
    @media (min-width: 992px) {
      font-size: 23px;
    }
  }
  &__status {
    font-size: 13px;
  }
  &__main {
    @media (min-width: 992px) {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__left {
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
  &__value {
    font-size: 13px;
    margin-bottom: 3px;
  }
  &__archive {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    &_item {
      width: 25%;
      text-align: center;
      padding: 0 10px;
      @media (max-width: 991px) {
        width: 50%;
        margin-top: 25px;
      }
    }
    &_count {
      font-weight: 700;
      font-size: 40px;
      color: $pink-color;
      line-height: .7;
    }
    &_value {
      font-size: 13px;
    }
  }
  &__download {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    &_item {
      width: 25%;
      text-align: center;
      padding: 0 10px;
      @media (max-width: 991px) {
        width: 50%;
        margin-top: 25px;
      }
    }
    &_img {
      max-width: 50px;
      margin: 0 auto 5px;
      transition: .2s ease-in-out;
    }
    &_link {
      color: $gray-color;
      &:hover {
        text-decoration: none;
        .account__download_img {
          transform: scale(1.2);
        }
      }
    }
    &_text {
      font-size: 13px;
      line-height: 1.1;
    }
  }
}



















