.cart {
  padding-bottom: 45px;
  @media (min-width: 768px) {
    padding-bottom: 65px;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    &_right {
      display: flex;
      width: 39%;
      padding-right: 8%;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      color: #242424;
      @media (max-width: 991px) {
        display: none !important;
      }
    }
    &_col-1 {
      text-align: center;
      width: 26%;
      flex:none;
    }
    &_col-2 {
      text-align: center;
      width: 48%;
      flex:none;
    }
    &_col-3 {
      text-align: center;
      width: 26%;
      flex:none;
    }
  }
  &__title {

    @media (min-width: 992px) {
      padding-left: 5%;
      display: flex;
      width: 61%;
      align-items: center;
    }
    h2 {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }
  &__count {
    font-weight: 700;
    font-size: 15px;
    color: #ccc;
  }
  &__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  &__item {

    margin-bottom: 50px;
    @media (min-width: 992px) {
      display: flex;
      margin-bottom: 30px;
    }
  }
  &__img {
    width: 100%;
    flex: none;
    img {
      width: 100%;
    }
    @media (min-width: 992px) {
      width: 290px;
      padding-right: 25px;
    }
    @media (min-width: 1290px) {
      width: 375px;
    }
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  &__info {
    background-color: #fffcfa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    position: relative;
    @media (min-width: 768px) {
      padding: 20px 8% 20px 3%;
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
    }
    &_col-1, &_col-2, &_col-3, &_col-4 {
      flex: none;
    }
    &_col-1 {
      width: 100%;
      @media (min-width: 768px) {
        width: 47%;
      }
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    &_col-2 {
      width: 25%;
      text-align: center;
      @media (min-width: 768px) {
        width: 14%;
      }
    }
    &_col-3 {
      width: 50%;
      text-align: center;
      @media (min-width: 768px) {
        width: 25%;
      }
    }
    &_col-4 {
      width: 25%;
      text-align: center;
      @media (min-width: 768px) {
        width: 14%;
      }
    }
  }
  &__name {
    font-size: 14px;
    font-weight: 500;
    color: $black-color;
  }
  &__delete {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2%;
    top: 10px;
    background-image: url(../images/icons/cart-gray.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    opacity: .5;
    transition: .2s ease-in-out;
    @media (min-width: 768px) {
      right: 4%;
      top: 50%;
      margin-top: -15px;
    }
    &:hover {
      opacity: 1;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }
  &__clear {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    background-color: #ccc;
    box-shadow: 5px 5px 16px rgba(#7d7d7d, .2);
    padding: 12px 25px;
    transition: .2s;
    width: 206px;
    height: 47px;
    text-align: center;
    position: relative;
    padding-left: 40px;
    border-radius: 7px;
    margin: 10px 15px 0;
    &:hover {
      background-color: darken(#ccc, 7%);
      text-decoration: none;
    }
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -10px;
      background-image: url(../images/icons/cart-white.png);
      background-size: 16px;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  &__pay {
    width: 206px;
    height: 47px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    background-color: $pink-color;
    box-shadow: 5px 5px 16px rgba(#7d7d7d, .2);
    padding: 12px 25px;
    transition: .2s;
    text-align: center;
    border-radius: 7px;
    margin: 10px 15px 0;
    &:hover {
      background-color: darken($pink-color, 7%);
      text-decoration: none;
    }
  }
}