.checkin {
  position: relative;
  padding: 50px 0;
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    padding: 70px 0;
    min-height: 100vh;
  }
  @media (min-width: 992px) {
    padding: 150px 0;
    min-height: 100vh;
  }
  &__fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    video {
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: 1200px) {
        left: 0;
        width: 100%;
        height: auto;
        transform: none;
      }
    }
  }
  &__wrap {
    width: 100%;
  }

  &__inner {
    @media (max-width: 991px) {
      text-align: center;
    }
    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__content {

    @media (min-width: 992px) {
      max-width: 630px;
      padding-right: 30px;
    }
  }
  &__heading {
    font-size: 24px;
    font-family: $font-montserrat;
    font-weight: 900;
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 992px) {
      font-size: 31px;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__form {
    max-width: 355px;
    width: 100%;
    flex: none;
    text-align: center;
    @media (min-width: 768px) and (max-width: 991px) {
      margin: 50px auto 0;
    }
    @media (max-width: 767px) {
      margin: 35px auto 0;
      h2 {
        display: none;
      }
    }
  }
}