.favorites {
  padding-bottom: 40px;
  &__header {

    h2 {
      margin-bottom: 0;
    }
  }
  &__sort {
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    a {
      font-weight: 300;
      font-size: 12px;
      color: $gray-color;
      margin-right: 15px;
      transition: .2s ease-in-out;
      white-space: nowrap;
      @media (min-width: 768px) {
        font-weight: 15px;
      }
      &.-active {
        font-weight: 700;

        &:hover {
          color: $gray-color;
          cursor: default;
        }
      }
      &:hover {
        text-decoration: none;
        color: $pink-color;
      }
    }
  }
  &__content {

  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 -6px;
    list-style: none;
  }
  &__item {
    padding: 6px;
    width: 50%;
    @media (min-width: 992px) {
      width: 33.333%;
    }
  }
  &__link {
    display: block;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      transition: .7s ease-in-out;
    }
  }
  &__footer {
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
  }
}