.lightbox {

  &__header {

  }
  &__content {
    display: flex;
  }
  &__add {
    padding: 0 35px;
    &_btn {
      position: relative;
      span {
        color: $gray-color;
      }
      &:before {
        content: '';
        width: 67px;
        height: 67px;
        background-image: url(../images/icons/plus.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: block;
        margin: 0 auto 7px;
        transition: .3s ease-in-out;
      }
      &:hover {
        text-decoration: none;
        &:before {
          transform: scale(1.1);
        }
        span {
          color: $gray-color;
        }
      }
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  &__link {
    color: $gray-color;
    padding-top: 70px;
    position: relative;
    &:hover {
      color: $gray-color;
      text-decoration: none;
    }
    &:before {
      content: '';
      width: 82px;
      height: 62px;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -31px;
      background-image: url(../images/icons/folder.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__count {
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 50%;
  }
}