.mainscreen {
  position: relative;
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  align-items: center;
  @media (max-width: 992px) {
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      z-index: 10;
      opacity: .2;
    }
  }
  &__fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    &.-height {
      video {
        width: auto;
        height: 100%;
      }
    }
    video {
      position: absolute;
      top: 50%;
      width: 100%;
      height: auto;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &:after {
      content: '';
      width: 100%;
      height: 34%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

    }
  }
  &__wrap {
    width: 100%;
    position: relative;
    z-index: 20;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
  &__content {
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 70px;
    }
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  &__offer {
    margin-bottom: 40px;
    p {
      font-size: 14px;
      @media (min-width: 768px) {
        font-size: 16px;
      }
      @media (min-width:992px) {
        font-size: 19px;
      }
    }
  }
  &__search {
    max-width: 460px;
    position: relative;
  }
  &__nav {
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

.search {
  max-width: 460px;
  width: 100%;
  height: 45px;
  display: flex;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 5px 5px 30px 5px rgba(#7d7d7d, 0.35);
  @media (min-width: 768px) {
    height: 55px;
    border-radius: 10px;
  }
  &__input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 0;
    padding: 10px 0 10px 20px;
    font-weight: 500;
    font-size: 13px;
    color: $gray-color;
    @include placeholder {
      color: #bdbdbd;
    }
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    @media (min-width: 768px) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  &__img {
    width: 35px;
    height: 100%;
    flex: none;
    background-image: url(../images/icons/redactor-pink.png);
    background-position: center center;
    background-size: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    transition: .3s;
    @media (min-width: 768px) {
      background-size: 19px;
      width: 40px;
    }
    &:hover {
      background-image: url(../images/icons/redactor-gray.png);
    }
  }
  &__btn {
    width: 40px;
    height: 100%;
    flex: none;
    border: 0;
    background-color: $pink-color;
    background-image: url(../images/icons/search-white.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    transition: .2s;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    @media (min-width: 768px) {
      background-size: 28px;
      width: 63px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:hover {
      background-color: darken($pink-color, 5%);
    }
  }
  &__select {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 0 10px;
    //height: 100%;
    //display: flex;
    //position: relative;
    //&.-active {
    //  .search__dropdown {
    //    opacity: 1;
    //    visibility: visible;
    //    margin-top: 10px;
    //  }
    //}
  }
  &__dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 5px;
    background-color: #fff;
    padding: 7px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(#7d7d7d, 0.35);
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
    text-align: left;
    &_item {
      display: block;
      white-space: nowrap;
      padding: 5px 20px;
      font-size: 11px;
      color: $gray-color;
      transition: .3s;
      &:hover {
        text-decoration: none;
        background-color: #ffd6e1;
        color: $black-color;
      }
    }
  }
  &__selected {
    white-space: nowrap;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    padding: 0 10px 0 7px;
    position: relative;
    margin-right: 7px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    color: $gray-color;
    min-width: 110px;
    @media (min-width: 768px) {
      padding: 0 12px;
      margin-right: 10px;
      font-size: 11px;
      min-width: 120px;
    }
    &:hover {
      color: $black-color;
      text-decoration: none;
    }
    &:before {
      content: '';
      width: 1px;
      height: 20px;
      background-color: #dfdede;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
      @media (min-width: 768px) {
        margin-top: -15px;
        height: 30px;
      }
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 3px 0 3px;
      border-color: $gray-color transparent transparent transparent;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1px;
      @media (min-width: 768px) {
        border-width: 5px 3px 0 3px;
      }
    }
  }
}

.selectric-hover {
  .selectric {
    .label {
      color: $black-color;
    }
    .button {
      &:after {
        border-top-color: $black-color;
      }
    }
  }
}

.selectric {
  min-width: 110px;
  height: 100%;
  border: 0;
  background-color: transparent;
  .label {
    margin: 0 22px 0 10px;
    min-width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1.2;
    font-weight: 500;
    font-size: 10px;
    color: $gray-color;
    transition: .2s ease-in-out;
  }
  .button {
    width: 22px;
    height: 100%;
    color: $gray-color;
    background-color: transparent;
    transition: .2s ease-in-out;
    &:after {
      border-top-color: $gray-color;
    }
  }
}

.selectric-items {
  background-color: #fff;
  li {
    white-space: nowrap;
    color: $gray-color;
    padding: 5px 10px;
    transition: .2s ease-in-out;
    &:hover {
      background-color: $pink-color;
      color: #fff;
    }
    &.highlighted {
      background-color: $pink-color;
      color: #fff;
    }
  }
}


.nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: right;
  @media (max-width: 991px) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {


    @media (min-width: 992px) {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 25%;
      margin-top: 40px;
    }
    @media (max-width: 767px) {
      width: 50%;
      margin-top: 15px;
    }
  }
  &__link {
    text-decoration: none;
    color: $gray-color;
    padding-right: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 991px) {
      justify-content: center;
      padding-right: 0;
    }
    &:hover {
      text-decoration: none;
      .nav__icon {
        transform: scale(1.3);
      }
    }
  }
  &__text {
    margin-right: 7px;
    font-size: 16px;
  }
  &__icon {
    max-width: 23px;
    max-height: 19px;
    transition: .2s;
  }
}