.media {
  padding: 40px 0;
  @media (min-width: 768px) {
    padding: 60px 0;
  }
  &__heading {
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 70px;
    }
    @media (min-width: 992px) {
      margin-bottom: 90px;
    }
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__inner {
    max-width: 430px;
    margin: 0 auto;
    @media (min-width: 768px) {
      padding: 0 15px;
    }
  }
  &__img {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 35px;
    }
    img {
      transition: .8s;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  &__content {
    text-align: center;
  }
}