.messanges {
  padding-bottom: 45px;
  @media (min-width: 768px) {
    padding-bottom: 65px;
  }
  &__header {
    margin-bottom: 40px;
    @media (min-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__title {
    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
    h2 {
      margin-bottom: 0;
    }
  }
  &__search {
    width: 190px;
    height: 35px;
    @media (max-width: 991px) {
      width: 100%;
    }
    form {
      border-radius: 7px;
      box-shadow: 5px 5px 9px rgba(#9e9e9e, .5);
      display: flex;
      height: 100%;
    }
    input {
      width: 100%;
      height: 35px;
      padding: 15px 5px 15px 30px;
      font-size: 10px;
      color: $gray-color;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      border: 0;
      @include placeholder {
        color: #cecdcd;
      }
    }
    button {
      height: 100%;
      width: 50px;
      float: none;
      background-color: transparent;
      border: 0;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      background-image: url(../images/icons/search-gray.png);
      background-position: center center;
      background-size: 18px;
      background-repeat: no-repeat;
      opacity: .5;
      transition: .2s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__content {
  }
  &__list {
    list-style: none;
    padding-left: 0;
    max-width: 760px;
    margin: 0 auto 30px;
  }
  &__item {
    padding: 10px;
    transition: .2s ease-in-out;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
    &.-online .messanges__info_name:before {
      background-color: #bcf5a8;
    }
    &.-offline .messanges__info_name:before {
      background-color: #ff5c5c;
    }
    &:hover {
      background-color: lighten($gray-color, 51%);
    }
  }
  &__link {
    display: block;
    color: $gray-color;
    position: relative;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__info {
    flex: none;
    @media (min-width: 768px) {
      width: 35%;
    }
    @media (min-width: 992px) {
      padding-right: 30px;
      display: flex;
      align-items: center;
      flex: none;
      width: 42%;
    }
    @media (max-width: 767px) {
      width: 100%;
      display: flex;
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }
    &_avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      flex: none;
      margin-right: 15px;
      @media (min-width: 768px) {
        width: 100px;
        height: 100px;
      }
    }
    &_content {
      padding: 3px 0;
    }
    &_name {
      font-weight: 700;
      font-size: 15px;
      position: relative;
      display: inline-block;
      &:before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        right: -12px;
        top: 0;
        border-radius: 50%;
      }
    }
    &_desc {
      font-size: 13px;
    }
  }
  &__text {
    font-size: 13px;

    flex: none;
    @media (min-width: 992px) {
      width: 58%;
    }
    p {
      margin-bottom: 0;
    }
    @media (min-width: 768px) {
      padding: 0 50px 0 20px;
      width: 65%;
    }
    @media (max-width: 767px) {
      max-height: 40px;
      overflow: hidden;
      padding-left: 65px;
    }
  }
  &__date {
    font-size: 13px;
    color: #b2b2b2;
    position: absolute;
    right: 0;
    top: 0;
    @media (min-width: 768px) {
      top: 50%;
      margin-top: -10px;
    }
  }
  &__pagination {
    display: flex;
    justify-content: flex-end;
  }
}

.pagination {
  display: flex;
  align-items: center;
  font-size: 13px;
  &__counter {
    padding: 0 10px;
  }
  &__page {
    font-size: 11px;
    padding: 2px 5px;
    min-width: 30px;
    display: inline-block;
    border: 1px solid #bbb9b9;
    text-align: center;
    &_label {
      padding: 0 7px;
    }
  }
  &__arrows {
    display: flex;
  }
  &__prev {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/pagination-arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    margin: 0 3px;
  }
  &__next {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/pagination-arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.dialog {

  &__list {
    margin-bottom: 40px;
    padding-left: 0;
  }
  &__item {
    display: flex;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &.-online .dialog__name:before {
      background-color: #bcf5a8;
    }
    &.-offline .dialog__name:before {
      background-color: #ff5c5c;
    }
  }
  &__avatar {
    width: 50px;
    height: 50px;
    flex: none;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
  &__message {
    width: 100%;
    position: relative;
    @media (min-width: 768px) {
      padding-right: 50px;
    }
    @media (min-width: 992px) {
      padding-right: 100px;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 15px;
    color: $black-color;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    &:before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      right: -12px;
      top: 0;
      border-radius: 50%;
    }
  }
  &__text {
    font-size: 13px;
    position: relative;
    flex: none;
    width: 100%;
    p {
      margin-bottom: 0;
    }
  }
  &__date {
    font-size: 13px;
    color: #b2b2b2;
    position: absolute;
    right: 0;
    top: 3px;
    @media (min-width: 768px) {
      top: 27px;
    }
  }
  &__form {
    box-shadow: 5px 5px 10px 1px rgba(#9e9e9e, .45);
    border-radius: 7px;
    padding-left: 20px;
    display: flex;
    @media (min-width: 768px) {
      padding-left: 44px;
    }
    &_field {
      position: relative;
      width: 100%;
    }
    &_placeholder {
      font-size: 12px;
      color: #cecdcd;
      position: absolute;
      left: 0;
      top: 17px;
      @media (min-width: 768px) {
        font-size: 13px;
      }
    }
    &_editable {
      width: 100%;
      font-size: 12px;
      padding: 17px 0;
      position: relative;
      z-index: 1;
      @media (min-width: 768px) {
        font-size: 13px;
      }
    }
    &_buttons {
      width: 105px;
      flex: none;
      display: flex;
      justify-content: stretch;
      padding-right: 10px;
      @media (min-width: 768px) {
        width: 150px;
      }
      .dialog__send, .dialog__photo, .dialog__file {
        width: 35px;
        height: 100%;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
        background-color: #fff;
        opacity: .5;
        transition: .2s ease-in-out;
        cursor: pointer;
        @media (min-width: 768px) {
          width: 50px;
          background-size: 27px;
        }
        &:hover {
          opacity: .7;
        }
      }
      .dialog__send {
        background-image: url(../images/icons/send-black.png);
      }
      .dialog__photo {
        background-image: url(../images/icons/photo-black.png);
        background-size: 21px;
        @media (min-width: 768px) {
          background-size: 28px;
        }
      }
      .dialog__file {
        background-image: url(../images/icons/file-black.png);
      }
    }
  }
}


























