.news {
  padding-bottom: 40px;
  &__header {

  }
  &__content {

  }
  &__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    margin-bottom: 35px;
    @media (min-width: 992px) {
      margin-bottom: 65px;
    }
  }
  &__inner {

    @media (min-width: 992px) {
      display: flex;
    }
  }
  &__box-text {
    width: 100%;
    @media (min-width: 992px) {
      padding-right: 35px;
      padding-top: 15px;
      width: 50%;
    }
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
  &__img {
    width: 100%;
    @media (min-width: 992px) {
      width: 50%;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.1;
  }
  &__date {
    font-size: 11px;
    color: #b3b3b3;
  }
  p {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 1.6;
  }
  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}






























