.popular {
  padding: 50px 0 20px;
  @media (min-width: 768px) {
    padding: 80px 0 60px;
  }
  &__heading {
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 70px;
    }
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &__column {
    padding: 0 10px;
    margin-bottom: 30px;
    width: 50%;

    @media (min-width: 768px) {
      width: 33.333%;
      margin-bottom: 40px;
    }
    @media (min-width: 992px) {
      width: 20%;
    }
  }
  &__title {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
    @media (min-width: 768px) {
      font-size: 17px;
      margin-bottom: 25px;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
  }
  &__item {

  }
  &__link {
    font-size: 15px;
    color: $gray-color;
    @media (min-width: 768px) {
      font-size: 17px;
    }
  }
}
