.profile {
  padding-bottom: 35px;
  &__photo {
    width: 220px;
    height: 330px;
    flex: none;
    box-shadow: 8px 8px 30px 2px rgba(#7d7b7b, .3);
    @media (min-width: 768px) {
      margin-right: 20px;
    }
    @media (min-width: 992px) {
      margin-right: 60px;
    }
    @media (max-width: 767px) {
      margin: 0 auto 15px;
    }
  }
  &__wrap {
    position: relative;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  &__info {
    position: relative;
    width: 100%;
    padding-top: 45px;
    @media (min-width: 768px) {
      padding-right: 25px;
    }
  }
  &__header {
    width: 100%;
    margin-bottom: 35px;
    @media (min-width: 768px) {
      position: relative;
      margin-bottom: 45px;
    }
  }
  &__condition {
    position: absolute;
    top: 0;
    font-size: 13px;
    padding: 3px 9px;
    background-color: #c7fac3;
    border-radius: 5px;
    @media (min-width: 768px) {
      right: 0;
    }
    @media (max-width: 767px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__name {
    font-family: $font-montserrat;
    font-weight: 900;
    font-size: 21px;
    @media (min-width: 768px) {
      font-size: 23px;
    }
  }
  &__status {
    font-size: 13px;
  }
  &__main {


    @media (min-width: 768px) {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__left {
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__right {
    @media (max-width: 767px) {
      display: flex;
      justify-content: space-around;
    }
  }
  &__value {
    font-size: 13px;
    margin-bottom: 3px;
  }
  &__share, &__subscribe {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 28px;
    position: relative;
    display: block;
    color: $black-color;
    &:hover {
      text-decoration: none;
      &:before {
        transform: scale(1.3)
      }
    }
    &:before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -9px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      transition: .2s ease-in-out;
    }
  }
  &__share:before {
    background-image: url(../images/icons/share-pink.png);
  }
  &__subscribe:before {
    background-image: url(../images/icons/subscribe-pink.png);
  }
  &__archive {
    display: flex;
    justify-content: space-around;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    &_item {
      text-align: center;
      @media (max-width: 767px) {
        width: 50%;
        margin-top: 25px;
      }
    }
    &_count {
      font-weight: 700;
      font-size: 40px;
      color: $pink-color;
      line-height: .7;
    }
    &_value {
      font-size: 13px;
    }
  }
}

.viewed {
  padding: 35px 0 80px;
  background-color: #707070;
  @media (min-width: 768px) {
    padding: 70px 0 120px;
  }
  &__header {
    text-align: center;
    margin-bottom: 25px;
    @media (min-width: 768px) {
      margin-bottom: 55px;
    }
    h2 {
      color: #fda2ba;
      margin-bottom: 15px;
    }
    p {
      color: #fff;
    }
  }
  &__slider {
    margin: 0 -4px;
    position: relative;
  }
  &__item {
    padding: 4px;
  }
  &__inner {
    overflow: hidden;
    display: block;
    img {
      transition: .7s ease-in-out;
      margin: auto;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../images/icons/arrows-gray.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    border: 0;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    transition: .3s;
    cursor: pointer;
    &.slick-prev {
      left: -50px;
      &:hover {
        transform: scale(1.2);
      }
    }
    &.slick-next {
      right: -50px;
      transform: rotate(180deg);
      &:hover {
        transform: rotate(180deg) scale(1.2);
      }
    }
  }
  .slick-dots {
    padding: 10px 0;
    list-style: none;
    margin: 0;
    text-align: center;
    font-size: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    li {
      display: inline-block;
      &.slick-active {
        button {
          &:before {
            background-color: #c8c8ca;
          }
        }
      }
      button {
        width: 24px;
        height: 24px;
        position: relative;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        &:before {
          content: '';
          width: 12px;
          height: 12px;
          border: 2px solid #c8c8ca;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -6px 0 0 -6px;
          border-radius: 50%;
        }
      }
    }
  }
}



















