.product {
  padding-bottom: 40px;
  &__wrap {

  }
  &__header {
    position: relative;
    text-align: center;
    @media (max-width: 767px) {
      padding-top: 40px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
  &__preview {
    width: 100%;
    @media (min-width: 768px) {
      width: 60%;
    }
    @media (min-width: 992px) {
      width: 68%;
    }
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__info {
    width: 100%;
    @media (min-width: 768px) {
      width: 40%;
      padding-left: 30px;
    }
    @media (min-width: 992px) {
      padding-left: 70px;
      width: 32%;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__img {
    position: relative;
    img {
      box-shadow: 9px 9px 24px rgba(#7d7d7d, .2);
    }
    span {
      font-family: $font-montserrat;
      font-weight: 700;
      font-size: 17px;
      color: #fff;
      position: absolute;
      left: 25px;
      bottom: 20px;
    }
  }
  &__links {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
  }
  &__link {
    font-weight: 700;
    font-size: 12px;
    color: $gray-color;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    @media (min-width: 992px) {
      font-size: 13px;
      padding-left: 30px;
    }
    @media (max-width: 767px) {
      font-size: 0;
      width: 20px;
      height: 20px;
    }
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      transition: .2s ease-in-out;
      @media (min-width: 992px) {
        width: 20px;
        height: 20px;
        margin-top: -10px;
      }
    }
    &:hover {
      color: $gray-color;
      text-decoration: none;
      &:before {
        transform: scale(1.2);
      }
    }
    &.-share:before {
      background-image: url(../images/icons/share-pink.png);
    }
    &.-add:before {
      background-image: url(../images/icons/add-pink.png);
    }
    &.-download:before {
      background-image: url(../images/icons/download-pink.png);
    }
  }
  &__category {
    display: flex;
    font-size: 13px;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      justify-content: center;
    }
    &_label {
      font-weight: 500;
      margin-right: 15px;
    }
    &_value {
      padding-left: 20px;
      position: relative;
      white-space: nowrap;
      &:before {
        content: '';
        width: 14px;
        height: 14px;
        background-image: url(../images/icons/video-pink.png);
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7px;
      }
    }
  }
  &__quality {
    padding-left: 0;
    margin: 0;
    margin-bottom: 35px;
    list-style: none;
    &_item {
      display: flex;
    }
    &_checkbox {
      min-width: 125px;
      padding-right: 20px;
    }
  }
  &__add {
    display: flex;
    margin-bottom: 20px;
    &_btn {
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-weight: 700;
      font-size: 14px;
      color: $gray-color;
      white-space: nowrap;
      padding-left:50px;
      background-color: #feece4;
      background-image: url(../images/icons/cart-gray.png);
      background-position: center left 20px;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      border-radius: 5px;
      transition: .2s ease-in-out;
      box-shadow: 5px 5px 16px rgba(#7d7d7d, .2);
      @media (min-width: 992px) {
        font-size: 16px;
      }
      &:hover {
        text-decoration: none;
        background-color: darken(#feece4, 2%);
        .product__add_price {
          background-color: darken($pink-color, 5%);
        }
      }
    }
    &_price {
      background-color: $pink-color;
      color: #fff;
      padding:  10px 14px;
      display: inline-block;
      margin-left: 20px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      transition: .2s ease-in-out;
    }
  }
  &__license {
    font-size: 13px;
    margin-bottom: 10px ;
  }
  &__more {
    font-size: 13px;
    color: $gray-color;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      justify-content: center;
    }
    a {
      background-color: #feece4;
      padding: 2px 5px;
      border-radius: 3px;
      margin-right: 5px;
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 11px;
      color: $gray-color;
      transition: .3s;
      @media (min-width: 768px) {
        font-size: 12px;
        padding: 3px 7px;
      }
      &:hover {
        text-decoration: none;
        color: $gray-color;
        background-color: darken(#feece4, 5%);
      }
    }
  }
  &__bottom {
    text-align: center;
  }
  &__autor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-bottom: 10px;
    &_img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;
    }
    &_text {
      text-align: left;
    }
  }
  &__desc {
    margin-bottom: 20px;
  }
  &__resurs {
    color: $gray-color;
    &:hover {

    }
  }
}

.checkbox {
  position: relative;
  &__input {
    display: none;
    &:checked + .checkbox__text:before {
      background-image: url(../images/icons/checkmark.png);
    }
  }
  &__label {
    cursor: pointer;
  }
  &__text {
    font-size: 13px;
    position: relative;
    padding-left: 22px;
    &:before {
      content: '';
      width: 12px;
      height: 12px;
      background-color: #ffd6e1;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -6px;
      background-position: center center;
      background-size: 9px;
      background-repeat: no-repeat;
    }

  }
}

.back-page {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 30px;
  font-weight: 700;
  font-size: 13px;
  color: $gray-color;
  @media (min-width: 768px) {
    top: 50%;
    margin-top: -10px;
  }
  &:before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/video-gray.png);
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    transition: .2s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    color: $gray-color;
    &:before {
      transform: scale(1.2);
    }
  }
}

.block-video {
  text-align: center;
  padding:  50px 0 80px;

  &.-gray {
    background-color: #f6f6f6;
  }
  &__header {

  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  &__item {
    padding: 5px;
    width: 50%;
    @media (min-width: 768px) {
      width: 25%;
    }
  }
  &__inner {
    display: block;
    overflow: hidden;
    img {
      transition: .7s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}