.settings {
  padding-bottom: 45px;
  @media (min-width: 768px) {
    padding-bottom: 70px;
  }
  &__header {
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__left, &__right {
    width: 100%;
    @media (min-width: 992px) {
      width: 45%;
    }
  }
  &__field {
    margin-bottom: 17px;
    label {
      font-size: 15px;
      color: #707070;
      margin-bottom: 0;
      display: block;
    }
    input {
      font-size: 12px;
      color: #cccccc;
      width: 100%;
      box-shadow: 5px 5px 10px rgba(#9e9e9e, .45);
      border: 0;
      border-radius: 7px;
      padding: 8px 20px;
    }
  }
  &__bottom {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  button {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    background-color: #fda2ba;
    transition: .3s ease-in-out;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: darken(#fda2ba, 10%);
    }
  }

}