.slider {
  padding: 40px 0;
  @media (min-width: 768px) {
    padding: 60px 0;
  }

  &__heading {
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 70px;
    }
    @media (min-width: 992px) {
      margin-bottom: 90px;
    }
  }
  &__wrap {
    position: relative;
    margin: 0 -5px 45px;
    @media (min-width: 768px ) {
      margin: 0 -7px 45px;
    }
  }
  &__inner {

    @media (min-width: 768px) {
      display: flex;
    }
  }
  &__small {
    display: flex;
    @media (min-width: 768px) {
      display: block;
      width: 38%;
      flex: none;
    }
    .slider__item {
      @media (max-width: 767px) {
        width: 50%;
      }
    }
  }
  &__big {

    @media (min-width: 768px) {
      width: 62%;
      flex: none;
    }
  }
  &__item {
    padding: 5px;
    @media (min-width: 768px ) {
      padding: 7px;
    }
  }
  &__img {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    img {
      transition: .8s;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  .slick-dots {
    padding: 10px 0;
    list-style: none;
    margin: 0;
    text-align: center;
    font-size: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    li {
      display: inline-block;
      &.slick-active {
        button {
          &:before {
            background-color: $pink-color;
          }
        }
      }
      button {
        width: 24px;
        height: 24px;
        position: relative;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        &:before {
          content: '';
          width: 12px;
          height: 12px;
          border: 2px solid $pink-color;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -6px 0 0 -6px;
          border-radius: 50%;
        }
      }
    }
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../images/icons/arrows-pink.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    border: 0;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    transition: .3s;
    cursor: pointer;
    &.slick-prev {
      left: -50px;
      transform: rotate(180deg);
      &:hover {
        transform: rotate(180deg) scale(1.2);
      }
    }
    &.slick-next {
      right: -50px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}