footer.footer
  .container
    .footer__wrap
      .footer__left
        .footer__logo
          a(href="/")
            img(src="images/logo2.png" alt="")
        ul.footer__info
          li.footer__info_item
            span.footer__address(style="background-image: url(images/icons/location-gray.png)") Москва, ул. Коасноперова, д.12
          li.footer__info_item
            a.footer__tel(href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)") +7 (999) 777-77-77
          li.footer__info_item
            a.footer__tel(href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)") +7 (999) 777-77-77
          li.footer__info_item
            a.footer__tel(href="tel:+79997777777" style="background-image: url(images/icons/tel-gray.png)") +7 (999) 777-77-77
          li.footer__info_item
            a.footer__fb(href="https://facebook.com" style="background-image: url(images/icons/facebook-gray.png)") Facebook
          li.footer__info_item
            a.footer__inst(href="https://instagram.com" style="background-image: url(images/icons/instagram-gray.png)") Instagram
      .footer__right
        .footer__menu
          .footer__menu_heading Меню
          .footer__menu_wrap
            .footer__menu_column
              .footer__menu_title Категория
              ul.footer__menu_list
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
            .footer__menu_column
              .footer__menu_title Категория
              ul.footer__menu_list
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
            .footer__menu_column
              .footer__menu_title Категория
              ul.footer__menu_list
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
                li.footer__menu_item
                  a.footer__menu_link(href="#") Подкатегория
    .footer__copyright © Hires and Pond5, Inc., 2019