header.header
  .container
    .header__wrap
      .header__left
        .header__logo
          a.header__logo_link(href="#")
            img(src='images/logo.png' alt='Hires agency POND5')
        .header__tel
          a.header__tel_num(href="tel:+74957661789") +7 (495) 766-17-89
        .header__hidden
          form.search
            input.search__input(type="search" name="search" placeholder="Введите Ваш запрос")
            a.search__img(href="#")
            select.search__select(name="search-select")
              option(value="") По изображениям
              option(value="") По видео
              option(value="") По спецэффектам
              option(value="") По музыке
              option(value="") По автору
            //.search__select
              input(type="hidden" value="" name="search-selected")
              a.search__selected(href="#") Все изображения
              .search__dropdown
                a.search__dropdown_item(href="#") По изображениям
                a.search__dropdown_item(href="#") По видео
                a.search__dropdown_item(href="#") По спецэффектам
                a.search__dropdown_item(href="#") По музыке
                a.search__dropdown_item(href="#") По автору
            button.search__btn(type="button")
          .header__nav
            a.header__nav_link(href="#" style="background-image: url(images/icons/video.png)")
            a.header__nav_link(href="#" style="background-image: url(images/icons/visual.png)")
            a.header__nav_link(href="#" style="background-image: url(images/icons/camera.png)")
            a.header__nav_link(href="#" style="background-image: url(images/icons/music.png)")
      .header__right
        .header__right_wrap
          .header__lang
            .lang
              a.lang__link.-active(href="#") РУС
              a.lang__link(href="#") ENG
          .header__login
            a.header__login_link(href="#") Регистрация
            a.header__login_link(href="#") Войти
          .header__menu
            nav.header__menu_dropdown
              ul.menu
                li.menu__item
                  a.menu__link(href="#") Предлагаемые планы подписки
                li.menu__item
                  a.menu__link(href="#") Пополнить баланс
                li.menu__item
                  a.menu__link(href="#") Наши контакты
        a.header__toggle#toggle-menu(href="#")
          span
