extends layouts/default

block variables
  - var title = 'Избранное'
  - var innerPage = true

block content
  main.main
    .container
      .row
        .col-lg-2.col-md-3
          .main__sidebar
            .sidebar
              a.sidebar__open(href="#")
                span.sidebar__open_btn
                  span
                span.sidebar__open_text Меню
              .sidebar__wrap
                a.sidebar__close(href="#")
                ul.sidebar__list
                  li.sidebar__item.-account.-active
                    a.sidebar__link(href="#") Мой аккаунт
                  li.sidebar__item.-news
                    a.sidebar__link(href="#") Новости
                  li.sidebar__item.-messanges
                    a.sidebar__link(href="#") Сообщения
                  li.sidebar__item.-friends
                    a.sidebar__link(href="#") Друзья
                  li.sidebar__item.-subscribes
                    a.sidebar__link(href="#") Подписки
                  li.sidebar__item.-favorites
                    a.sidebar__link(href="#") Избранные
                  li.sidebar__item.-lightbox
                    a.sidebar__link(href="#") ЛайтБоксы
                  li.sidebar__item.-settings
                    a.sidebar__link(href="#") Настройки
        .col-lg-10.col-md-9
          .main__content
            .account
              .account__wrap
                .account__photo
                  a.account__photo_edit(href="#")
                    img(src="images/profile-img.jpg" alt="")
                    span Изменить фото
                .account__info
                  .account__header
                    .account__condition Онлайн
                    .account__name Программист Кодеров
                    .account__status Статус
                  .account__main
                    .account__left
                      .account__value Город: Москва
                      .account__value Компания: Агенство Шоколад
                      .account__value Должность: Дизайнер
                  .account__archive
                    .account__archive_item
                      .account__archive_count 25
                      .account__archive_value фотографий
                    .account__archive_item
                      .account__archive_count 2
                      .account__archive_value видео
                    .account__archive_item
                      .account__archive_count 10
                      .account__archive_value спецэффектов
                    .account__archive_item
                      .account__archive_count 0
                      .account__archive_value музыкальных файлов
                  .account__download
                    .account__download_item
                      a.account__download_link(href="#")
                        .account__download_img
                          img(src="images/icons/photo-gray.png" alt="")
                        .account__download_text Загрузить<br>фотографию
                    .account__download_item
                      a.account__download_link(href="#")
                        .account__download_img
                          img(src="images/icons/video-gray-2.png" alt="")
                        .account__download_text Загрузить видео<br>материалы
                    .account__download_item
                      a.account__download_link(href="#")
                        .account__download_img
                          img(src="images/icons/music-gray.png" alt="")
                        .account__download_text Загрузить музыку
                    .account__download_item
                      a.account__download_link(href="#")
                        .account__download_img
                          img(src="images/icons/daimond-gray.png" alt="")
                        .account__download_text Загрузить<br>спецэффекты

    .viewed
      .container
        .viewed__header
          h2 Вы интересовались
          p Тут отображенны все просмотренные Вами товары за последнее время
        .viewed__slider
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
























