extends layouts/default

block variables
  - var title = 'Корзина'
  - var innerPage = true

block content
  main.main
    .cart
      .container
        .cart__wrap
          .cart__header
            .cart__title
              h2 Ваша корзина:
              .cart__count (2 файла)
            .cart__header_right
              .cart__header_col-1 Версия
              .cart__header_col-2 Лицензия
              .cart__header_col-3 Цена
          .cart__content
            ul.cart__list
              li.cart__item
                a.cart__img(href="#")
                  img(src="images/cart.jpg" alt="")
                .cart__info
                  .cart__info_col-1
                    .cart__name Название файла
                    p Информация, информация, информация, информация, информация, информация, информация, информация, информация,
                  .cart__info_col-2
                    p HD
                  .cart__info_col-3
                    p Индивидуальная
                  .cart__info_col-4
                    p $50
                  a.cart__delete(href="#")
              li.cart__item
                a.cart__img(href="#")
                  img(src="images/cart.jpg" alt="")
                .cart__info
                  .cart__info_col-1
                    .cart__name Название файла
                    p Информация, информация, информация, информация, информация, информация, информация, информация, информация,
                  .cart__info_col-2
                    p HD
                  .cart__info_col-3
                    p Индивидуальная
                  .cart__info_col-4
                    p $50
                  a.cart__delete(href="#")
          .cart__footer
            .cart__button
              a.cart__clear(href="#") Очистить корзину
              a.cart__pay(href="#") Оплатить
    .viewed
      .container
        .viewed__header
          h2 Вы интересовались
          p Тут отображенны все просмотренные Вами товары за последнее время
        .viewed__slider
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")

























