extends layouts/default

block variables
  - var title = 'Сообщения'
  - var innerPage = true

block content
  main.main
    .container
      .row
        .col-lg-2.col-md-3
          .main__sidebar
            .sidebar
              a.sidebar__open(href="#")
                span.sidebar__open_btn
                  span
                span.sidebar__open_text Меню
              .sidebar__wrap
                a.sidebar__close(href="#")
                ul.sidebar__list
                  li.sidebar__item.-account
                    a.sidebar__link(href="#") Мой аккаунт
                  li.sidebar__item.-news
                    a.sidebar__link(href="#") Новости
                  li.sidebar__item.-messanges.-active
                    a.sidebar__link(href="#") Сообщения
                  li.sidebar__item.-friends
                    a.sidebar__link(href="#") Друзья
                  li.sidebar__item.-subscribes
                    a.sidebar__link(href="#") Подписки
                  li.sidebar__item.-featured
                    a.sidebar__link(href="#") Избранные
                  li.sidebar__item.-lightbox
                    a.sidebar__link(href="#") ЛайтБоксы
                  li.sidebar__item.-settings
                    a.sidebar__link(href="#") Настройки
        .col-lg-10.col-md-9
          .main__content
            .messanges
              .messanges__header
                .messanges__title
                  h2 Сообщения
              .messanges__content
                .dialog
                  ul.dialog__list
                    li.dialog__item.-online
                      .dialog__avatar
                          img(src="images/avatar.jpg" alt="")
                      .dialog__message
                        .dialog__name Федор Кулешов
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar2.jpg" alt="")
                      .dialog__message
                        .dialog__name Программист Кодеров
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar.jpg" alt="")
                      .dialog__message
                        .dialog__name Федор Кулешов
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar2.jpg" alt="")
                      .dialog__message
                        .dialog__name Программист Кодеров
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43
                    li.dialog__item.-online
                      .dialog__avatar
                        img(src="images/avatar.jpg" alt="")
                      .dialog__message
                        .dialog__name Федор Кулешов
                        .dialog__text
                          p Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения
                        .dialog__date 11:43

                  form.dialog__form
                    .dialog__form_field
                      .dialog__form_placeholder Напишите сообщение...
                      .dialog__form_editable(contenteditable="true")
                    .dialog__form_buttons
                      button.dialog__send(type="button")
                      button.dialog__photo(type="button")
                      button.dialog__file(type="button")
























