extends layouts/default

block variables
  - var title = 'Главная страница'
  - var homePage = true

block content
  main.main
    .mainscreen
      .mainscreen__fullscreen
        video(loop muted autoplay poster="images/video/fullscreen/balloons.jpg" class="mainscreen__fullscreen_video")
          source(src="images/video/fullscreen/balloons.mp4" type="video/mp4")
          source(src="images/video/fullscreen/balloons.webm" type="video/webm")
      .mainscreen__wrap
        .container
          .mainscreen__inner
            .mainscreen__content
              .mainscreen__offer
                h1 Эксклюзивный<br>материал
                p Огромный выбор вдохновляющих ресурсов
              .mainscreen__search
                form.search
                  input.search__input(type="search" name="search")
                  a.search__img(href="#")
                  select.search__select(name="search-select")
                    option(value="") По изображениям
                    option(value="") По видео
                    option(value="") По спецэффектам
                    option(value="") По музыке
                    option(value="") По автору
                  //.search__select
                    input(type="hidden" value="" name="search-selected")
                    a.search__selected(href="#") Все изображения
                    .search__dropdown
                      a.search__dropdown_item(href="#") По изображениям
                      a.search__dropdown_item(href="#") По видео
                      a.search__dropdown_item(href="#") По спецэффектам
                      a.search__dropdown_item(href="#") По музыке
                      a.search__dropdown_item(href="#") По автору
                  button.search__btn(type="button")
            .mainscreen__nav
              ul.nav
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Видео
                    img.nav__icon(src="images/icons/video.png" alt="")
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Изображения
                    img.nav__icon(src="images/icons/camera.png" alt="")
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Музыка
                    img.nav__icon(src="images/icons/music.png" alt="")
                li.nav__item
                  a.nav__link(href="#")
                    span.nav__text Спецэффекты
                    img.nav__icon(src="images/icons/visual.png" alt="")
    .media
      .container
        .media__heading
          h2 Медиа, которые мы предлагаем
        .media__wrap
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/1.jpg" alt="")
              .media__content
                h3 Стоковые видеоматериалы роялти-фри
                p Откройте для себя мир самой большой коллекции видеосъемок, включающей в себя боле 17 млн. клипов в качестве 4K и HD, а также видео в 360° без роялти.
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/2.jpg" alt="")
              .media__content
                h3 Музыкальные треки
                p Прослушайте более 900 000 записей — от саундтреков к фильмам до поп-музыки.
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/3.jpg" alt="")
              .media__content
                h3 Шаблоны спецэффектов
                p Воспользуйтесь набором полезных образцов After Effects, включая инфографику, трейлеры и многое другое.
          .media__item
            .media__inner
              a.media__img(href="#")
                img(src="images/media/4.jpg" alt="")
              .media__content
                h3 Стоковые изображения
                p Вас ждет премиум-библиотека из 26 миллионов роялти-фри фотографий, векторных иллюстраций, изображений и PSD.
    .slider
      .container
        .slider__heading
          h2 Подборка новогодних видео
        .slider__wrap#slider-video
          .slider__slide
            .slider__inner
              .slider__small
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/1.jpg" alt="")
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/2.jpg" alt="")
              .slider__big
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/3.jpg" alt="")
          .slider__slide
            .slider__inner
              .slider__small
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/1.jpg" alt="")
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/2.jpg" alt="")
              .slider__big
                .slider__item
                  a.slider__img(href="#")
                    img(src="images/slider/3.jpg" alt="")
    .checkin
      .checkin__fullscreen
        video(loop muted autoplay poster="images/video/checkin/checkin.jpg" class="mainscreen__fullscreen_video")
          source(src="images/video/checkin/checkin.mp4" type="video/mp4")
          source(src="images/video/checkin/checkin.webm" type="video/webm")
      .checkin__wrap
        .container
          .checkin__inner
            .checkin__content
              .checkin__heading Создайте свой аккаунт на <a href="Hires.ru" target="_blank">Hires.ru</a> и&nbsp;получите полный доступ к&nbsp;безграничному контенту
            .checkin__form
              h2 Регистрация
              form.form
                .form__field
                  input(type="text" name="name" placeholder="Введите Ваше имя" required)
                .form__field
                  input(type="text" name="name" placeholder="Введите Ваш E-mail" required)
                .form__field
                  input(type="text" name="name" placeholder="Введите Ваш пароль" required)
                .form__button
                  button(type="submit") Зарегистрироваться
    .popular
      .container
        .popular__heading
          h2 Самые популярные категории
        .popular__wrap
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
          .popular__column
            .popular__title Категория
            ul.popular__list
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория
              li.popular__item
                a.popular__link(href="#") Подкатегория






































































