extends layouts/default

block variables
  - var title = 'Лайт боксы'
  - var innerPage = true

block content
  main.main
    .container
      .row
        .col-lg-2.col-md-3
          .main__sidebar
            .sidebar
              a.sidebar__open(href="#")
                span.sidebar__open_btn
                  span
                span.sidebar__open_text Меню
              .sidebar__wrap
                a.sidebar__close(href="#")
                ul.sidebar__list
                  li.sidebar__item.-account
                    a.sidebar__link(href="#") Мой аккаунт
                  li.sidebar__item.-news
                    a.sidebar__link(href="#") Новости
                  li.sidebar__item.-messanges
                    a.sidebar__link(href="#") Сообщения
                  li.sidebar__item.-friends
                    a.sidebar__link(href="#") Друзья
                  li.sidebar__item.-subscribes
                    a.sidebar__link(href="#") Подписки
                  li.sidebar__item.-favorites
                    a.sidebar__link(href="#") Избранные
                  li.sidebar__item.-lightbox.-active
                    a.sidebar__link(href="#") ЛайтБоксы
                  li.sidebar__item.-settings
                    a.sidebar__link(href="#") Настройки
        .col-lg-10.col-md-9
          .main__content
            .lightbox
              .lightbox__header
                h2 ЛайтБоксы
              .lightbox__content
                .lightbox__add
                  a.lightbox__add_btn(href="#")
                    span Добавить лайтбокс
                ul.lightbox__list
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Медведи
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Цветы
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Видюхи
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Видюхи носорога
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Фоны
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Цветы
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Видюхи
                  li.lightbox__item
                    a.lightbox__link(href="#")
                      span.lightbox__count 12
                      span.lightbox__name Видюхи носорога