extends layouts/default

block variables
  - var title = 'Сообщения'
  - var innerPage = true

block content
  main.main
    .container
      .row
        .col-lg-2.col-md-3
          .main__sidebar
            .sidebar
              a.sidebar__open(href="#")
                span.sidebar__open_btn
                  span
                span.sidebar__open_text Меню
              .sidebar__wrap
                a.sidebar__close(href="#")
                ul.sidebar__list
                  li.sidebar__item.-account
                    a.sidebar__link(href="#") Мой аккаунт
                  li.sidebar__item.-news
                    a.sidebar__link(href="#") Новости
                  li.sidebar__item.-messanges.-active
                    a.sidebar__link(href="#") Сообщения
                  li.sidebar__item.-friends
                    a.sidebar__link(href="#") Друзья
                  li.sidebar__item.-subscribes
                    a.sidebar__link(href="#") Подписки
                  li.sidebar__item.-featured
                    a.sidebar__link(href="#") Избранные
                  li.sidebar__item.-lightbox
                    a.sidebar__link(href="#") ЛайтБоксы
                  li.sidebar__item.-settings
                    a.sidebar__link(href="#") Настройки
        .col-lg-10.col-md-9
          .main__content
            .messanges
              .messanges__header
                .messanges__title
                  h2 Сообщения
                .messanges__search
                  form
                    input(type="search" name="messanges-search" placeholder="Поиск" value="")
                    button(type="button")
              .messanges__content
                ul.messanges__list
                  li.messanges__item.-online
                    a.messanges__link(href="#")
                      .messanges__info
                        .messanges__info_avatar
                          img(src="images/avatar.jpg" alt="")
                        .messanges__info_content
                          .messanges__info_name Федор Кулешов
                          .messanges__info_desc Монолит сервис, Дизайнер
                      .messanges__text
                        p Текст сообщения Текст сообщения Текст сообщения
                        p Текст сообщения Текст сообщения Текст сообщения
                        p Текст сообщения Текст сообщения Текст сообщения
                      .messanges__date 11:43
                  li.messanges__item.-offline
                    a.messanges__link(href="#")
                      .messanges__info
                        .messanges__info_avatar
                          img(src="images/avatar.jpg" alt="")
                        .messanges__info_content
                          .messanges__info_name Федор Кулешов
                          .messanges__info_desc Монолит сервис, Дизайнер
                      .messanges__text
                        p Текст сообщения Текст сообщения Текст сообщения
                        p Текст сообщения Текст сообщения Текст сообщения
                        p Текст сообщения Текст сообщения Текст сообщения
                      .messanges__date 11:43
                  li.messanges__item
                    a.messanges__link(href="#")
                      .messanges__info
                        .messanges__info_avatar
                          img(src="images/avatar.jpg" alt="")
                        .messanges__info_content
                          .messanges__info_name Федор Кулешов
                          .messanges__info_desc Монолит сервис, Дизайнер
                      .messanges__text
                        p Текст сообщения Текст сообщения Текст сообщения
                        p Текст сообщения Текст сообщения Текст сообщения
                        p Текст сообщения Текст сообщения Текст сообщения
                      .messanges__date 11:43
                .messanges__pagination
                  .pagination
                    .pagination__label Страница
                    .pagination__counter
                      span.pagination__page.-first 1
                      span.pagination__page_label из
                      span.pagination__page.-last 20
                    .pagination__arrows
                      a.pagination__prev(href="#")
                      a.pagination__next(href="#")






















