extends layouts/default

block variables
  - var title = 'Новости'
  - var innerPage = true

block content
  main.main
    .container
      .row
        .col-lg-2.col-md-3
          .main__sidebar
            .sidebar
              a.sidebar__open(href="#")
                span.sidebar__open_btn
                  span
                span.sidebar__open_text Меню
              .sidebar__wrap
                a.sidebar__close(href="#")
                ul.sidebar__list
                  li.sidebar__item.-account
                    a.sidebar__link(href="#") Мой аккаунт
                  li.sidebar__item.-news.-active
                    a.sidebar__link(href="#") Новости
                  li.sidebar__item.-messanges
                    a.sidebar__link(href="#") Сообщения
                  li.sidebar__item.-friends
                    a.sidebar__link(href="#") Друзья
                  li.sidebar__item.-subscribes
                    a.sidebar__link(href="#") Подписки
                  li.sidebar__item.-favorites
                    a.sidebar__link(href="#") Избранные
                  li.sidebar__item.-lightbox
                    a.sidebar__link(href="#") ЛайтБоксы
                  li.sidebar__item.-settings
                    a.sidebar__link(href="#") Настройки
        .col-lg-10.col-md-9
          .main__content
            .news
              .news__header
                h2 Новости
              .news__content
                ul.news__list
                  li.news__item
                    .news__inner
                      .news__box-text
                        .news__title Тайтл новости
                        .news__date 12 декабря 2019
                        p Текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости
                        p Текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости
                      a.news__img(href="#")
                        img(src="images/news-img.jpg" alt="")
                  li.news__item
                    .news__inner
                      .news__box-text
                        .news__title Тайтл новости
                        .news__date 12 декабря 2019
                        p Текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости
                        p Текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости
                      a.news__img(href="#")
                        img(src="images/news-img.jpg" alt="")
                  li.news__item
                    .news__inner
                      .news__box-text
                        .news__title Тайтл новости
                        .news__date 12 декабря 2019
                        p Текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости
                        p Текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости текст новости
                      a.news__img(href="#")
                        img(src="images/news-img.jpg" alt="")
              .news__footer
                .pagination
                  .pagination__label Страница
                  .pagination__counter
                    span.pagination__page.-first 1
                    span.pagination__page_label из
                    span.pagination__page.-last 20
                  .pagination__arrows
                    a.pagination__prev(href="#")
                    a.pagination__next(href="#")
























