extends layouts/default

block variables
  - var title = 'Продукция'
  - var innerPage = true

block content
  main.main
    .product
      .container
        .product__wrap
          .product__header
            a.back-page(href="#") Назад
            .product__title
              h2 Название файла
          .product__content
            .product__preview
              .product__img
                img(src="images/product/product.jpg" alt="")
                span.product__name Название файла
              .product__links
                a.product__link.-share(href="#") Поделиться
                a.product__link.-add(href="#") Добавить в коллекцию
                a.product__link.-download(href="#") Скачать превью
            .product__info
              .product__category
                .product__category_label Категория:
                .product__category_value Стоковое видео
              ul.product__quality
                li.product__quality_item
                  .product__quality_checkbox
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="radio" name="video-quality" value="")
                        span.checkbox__text 5К+
                  .product__quality_price $125
                li.product__quality_item
                  .product__quality_checkbox
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="radio" name="video-quality" value="")
                        span.checkbox__text HD (1080)
                  .product__quality_price $75
                li.product__quality_item
                  .product__quality_checkbox
                    .checkbox
                      label.checkbox__label
                        input.checkbox__input(type="radio" name="video-quality" value="")
                        span.checkbox__text HD (720)
                  .product__quality_price $35
              .product__add
                a.product__add_btn(href="#")
                  span.product__add_text В корзину
                  span.product__add_price $125
              .product__license Персональная лицензия включена
              a.product__more(href="#") Подробно о товаре
          .product__tags
            a(href="#") Роза
            a(href="#") Розовый
            a(href="#") Цветы
            a(href="#") Подарок
            a(href="#") 8 марта
            a(href="#") Шипы
            a(href="#") Букет
            a(href="#") Роза
            a(href="#") Розовый
            a(href="#") Цветы
            a(href="#") Подарок
            a(href="#") 8 марта
            a(href="#") Шипы
            a(href="#") Букет
            a(href="#") Роза
            a(href="#") Розовый
            a(href="#") Цветы
            a(href="#") Подарок
            a(href="#") 8 марта
            a(href="#") Шипы
            a(href="#") Букет
          .product__bottom
            .product__autor
              .product__autor_img
                img(src="images/icons/autor.jpg" alt="")
              .product__autor_text <strong>Автор:</strong> Белоснежная Екатерина (оператор)
            .product__desc <strong>Описание:</strong> Абстракционное незацикленное видео с интерполярным эффектом взаимодействия с природой
            a.product__resurs(href="#") <strong>Все ресурсы данного автора</strong>
    .block-video.-gray
      .container
        .block-video__header
          h2 Другие видео этого автора
        .block-video__wrap
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
    .block-video
      .container
        .block-video__header
          h2 Похожие ресурсы
        .block-video__wrap
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .block-video__item
            a.block-video__inner(href="#")
              img(src="images/block-video.jpg" alt="")

























