extends layouts/default

block variables
  - var title = 'Профиль автора'
  - var innerPage = true

block content
  main.main
    .profile
      .container
        .profile__wrap
          .profile__photo
            img(src="images/profile-img.jpg" alt="")
          .profile__info
            .profile__header
              .profile__condition Онлайн
              .profile__name Программист Кодеров
              .profile__status Статус
            .profile__main
              .profile__left
                .profile__value Город: Москва
                .profile__value Компания: Агенство Шоколад
                .profile__value Должность: Дизайнер
              .profile__right
                a.profile__share(href="#") Поделиться
                a.profile__subscribe(href="#") Подписаться
            .profile__archive
              .profile__archive_item
                .profile__archive_count 25
                .profile__archive_value фотографий
              .profile__archive_item
                .profile__archive_count 2
                .profile__archive_value видео
              .profile__archive_item
                .profile__archive_count 10
                .profile__archive_value спецэффектов
              .profile__archive_item
                .profile__archive_count 0
                .profile__archive_value музыкальных файлов
    .viewed
      .container
        .viewed__header
          h2 Вы интересовались
          p Тут отображенны все просмотренные Вами товары за последнее время
        .viewed__slider
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
          .viewed__item
            a.viewed__inner(href="#")
              img(src="images/block-video.jpg" alt="")
























