extends layouts/default

block variables
  - var title = 'Настройки'
  - var innerPage = true

block content
  main.main
    .container
      .row
        .col-lg-2.col-md-3
          .main__sidebar
            .sidebar
              a.sidebar__open(href="#")
                span.sidebar__open_btn
                  span
                span.sidebar__open_text Меню
              .sidebar__wrap
                a.sidebar__close(href="#")
                ul.sidebar__list
                  li.sidebar__item.-account
                    a.sidebar__link(href="#") Мой аккаунт
                  li.sidebar__item.-news
                    a.sidebar__link(href="#") Новости
                  li.sidebar__item.-messanges
                    a.sidebar__link(href="#") Сообщения
                  li.sidebar__item.-friends
                    a.sidebar__link(href="#") Друзья
                  li.sidebar__item.-subscribes
                    a.sidebar__link(href="#") Подписки
                  li.sidebar__item.-favorites
                    a.sidebar__link(href="#") Избранные
                  li.sidebar__item.-lightbox
                    a.sidebar__link(href="#") ЛайтБоксы
                  li.sidebar__item.-settings.-active
                    a.sidebar__link(href="#") Настройки
        .col-lg-10.col-md-9
          .main__content
            .settings
              .settings__header
                .settings__title
                  h2 Настройки
              .settings__content
                form.settings__form
                  .settings__left
                    .settings__field
                      label Имя
                      input(type="text" name="firstname" value="Фунтик")
                    .settings__field
                      label Фамилия
                      input(type="text" name="lastname" value="Сидоров")
                    .settings__field
                      label Адрес
                      input(type="text" name="address" value="Таманская 5")
                    .settings__field
                      label Телефон
                      input(type="tel" name="tel" value="+7 (999) 888-55-55")
                    .settings__field
                      label Vkontakte
                      input(type="text" name="social-vk" value="https://vk.com/id572858695")
                    .settings__field
                      label Facebook
                      input(type="text" name="social-fb" value="https://www.facebook.com/kassssablanka")
                  .settings__right
                    .settings__field
                      label Компания
                      input(type="text" name="company" value="Рога и копыта")
                    .settings__field
                      label Должность
                      input(type="text" name="Должность" value="Чистильщик")
                    .settings__field
                      label Юридический адрес
                      input(type="text" name="legal-address" value="Переменный 17")
                    .settings__field
                      label E-mail
                      input(type="email" name="legal-email" value="kassssablanka@ya.ru")
                    .settings__field
                      label ОГРН
                      input(type="text" name="legal-ogrn" value="12545454775")
                    .settings__field
                      label ИНН
                      input(type="text" name="legal-inn" value="3252565552356621")
                  .settings__bottom
                    button(type="submit") Сохранить данные























